<% @page_title = "All users" %>

<div class="users index">
	<%= link_to("Back to menu", admin_path, :class => 'back-link')%>
	<h2>Listing Users</h2>
	<%= image_tag('plus_s.png', :size => '11x11', :alt => '+') %>
	<%= link_to("Add New User", new_admin_user_path, :class => 'action new')%>
	<table class="listing" summary="User list">
		<tr class="header">
			<th>User ID</th>
			<th>Username</th>
			<th>Full Name</th>
			<th>Emial</th>
			<th>Actions</th>
		</tr>
		<% @users.each do |user|%>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.username %></td>
			<td><%= user.full_name %></td>
			<td><%= user.email %></td>
			<td class="actions">
				<%= link_to("Edit", edit_admin_user_path(user), :class => 'action edit') %>
				<%= link_to("Delete", delete_admin_user_path(user), :class => 'action delete') %>
			</td>
		</tr>
		<% end %>
	</table>
</div>